<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>React Select Element</title>
		<link rel="shortcut icon" sizes="16x16 32x32 64x64" href="/assets/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/assets/css/react-select-element.css" />
		<link rel="stylesheet" href="/assets/css/app.css" />
	</head><body role="document">
		<div id="app">{{{app}}}</div>
		<script type="text/javascript" src="/assets/js/app.js"></script>
	</body>
</html>
